{# src/My/RecipesBundle/Resources/views/Author/create.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Create author{% endblock %}

{% block body %}
    {{ form_start(form, {'attr' : { 'id' : 'author-create'}}) }}
    {{ form_errors(form) }}
    <ul>
        <li>
            {{ form_label(form.name) }}: 
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </li>
        <li>
            {{ form_label(form.surname) }}: 
            {{ form_errors(form.surname) }}
            {{ form_widget(form.surname) }}
        </li>
        <li>
            <input type="submit" value="Add author" />
        </li>
    </ul>
    {{ form_end(form) }}
{% endblock %}
